/* FONTS */

@import url(../css/stardom.css);
@import url(../css/satoshi.css);

/* VARIABLES */

:root {
  --c-lalala: rgb(21, 41, 23);
  --c-dark: #115636;
  --c-brand: #5e9463;
  --c-brand-rgb2: 94, 148, 99;
  --c-brand-light: #8bd893;
  --c-brand-rgb: 21, 41, 23;
  --c-body: #727272;
  --font-base: "Satoshi-Regular", sans-serif;
  --font-title: "Stardom", serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */

body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}
a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* NAVBAR */

.navbar {
  box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 22px;
  color: var(--c-dark);
}

.navbar-nav .nav-link.active {
  color: var(--c-brand);
}

/* BTN */

.btn {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  color: white;
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: white;
}

/* HERO */

#hero {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.607),
      rgba(var(--c-brand-rgb), 0.638)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}
h1 {
  font-family: var(--font-title);
}

h2 {
  font-size: 40px;
}
.hero-btns {
  font-size: 26px;
}

/* SECTION TITLE */

.section-title {
  color: var(--c-dark);
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  color: var(--c-body);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

/* ICON BOX */

.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb2), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}
.abouth1 {
  color: #115636;
}
.abouth5 {
  color: #115636;
}

/* OFFERINGS */

.offerings {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.offerings::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: var(--c-brand-rgb2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.offerings:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
}
